.form-control{
    width:60%;
}
.review-right-part{
    background-color: #E5E5E5;
    height:95vh;
    padding: 5% 0 10% 5%;
}
.input-box{
    border: 0.666667px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 3.33333px;
    width: 60%;
    height: 40px;     

}